
body {
  /* background-color: #74EBD5;
  background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
*/
  min-height: 100vh; 
  overflow-y: hidden;
  margin-bottom:2px ;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  width: 5px;
  background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  width: 1em;
  background-color: #ddd;
  outline: 1px solid slategrey;
  border-radius: 1rem;
}

.text-small {
  font-size: 0.9rem;
}
.shadow{
  height: 100vh!important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    
}

.messages-box
{
  height: 100vh!important;
  overflow-y: scroll;
  background-color: royalblue;
  
  
 
}
.chat-box{
  height:82vh !important ;
  overflow-y: scroll;

}
.rounded-lg {
  border-radius: 0.5rem;
}

input::placeholder {
  font-size: 0.9rem;
  color: #999;
}

