body{
    min-height: 100vh;
    overflow: hidden;
    font-family: "Arial";
    max-width: 98vw;
}
.side-panel{
    background-color: rgba(239,244,248,255);
    height: 100vh;
}
.user-list{
    height: 90vh;
    background-color: rgba(239,244,248,255);
    flex-direction: column;
    
}
.user-header{
    height: 20vh;
    background-color: rgba(239,244,248,255);
}
.chatting-box{
    height: 90vh;
    overflow-y: scroll;
}

.sender-color{
    background-color: rgba(241, 246,249 , 255);
    font-family: 'Arial';
    font-stretch:ultra-expanded;
}
.receiver-color{
    background-color: rgba(211,245,253,255);

}